@model RoleTopOficial.ViewModel.ClienteViewModel 


<!DOCTYPE HTML>
<html>
    <head>
        <title>ROLE TOP</title>
        <link href="https://fonts.googleapis.com/css?family=Bebas+Neue|Unica+One&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet"> 
         <link href="https://pagecdn.io/lib/font-awesome/5.11.2/css/all.min.css" rel="stylesheet"> 
        <link rel="stylesheet" type="text/css" href="~/css/style.css">
    </head>
    <body>
        <header>
            <center>
                <nav>
                    <a asp-controller="Home" asp-action="index">Inicio</a>
                    <a asp-controller="Cliente" asp-action="QuemSomos">Quem somos</a>
                    <a asp-controller="Cliente" asp-action="Contato">Contato</a>
                    <a asp-controller="Cliente" asp-action="Galeria">Galeria</a>
                    @if(string.IsNullOrEmpty(@Model.Usuario))
                    {
                        <a asp-controller="Cadastro" asp-action="index">Cadastre-se</a>
                        <a asp-controller="Cadastro" asp-action="Login">Login</a>
                    }else{
                        <a asp-controller="Cliente" asp-action="index">Area do Cliente</a>
                        <a asp-controller="Cliente" asp-action="Configuracoes">Configurações</a>
                        <a asp-controller="Cliente" asp-action="Logoff">Logoff</a>
                    }
                    <i class="fas fa-2x fa-bars" style="color: white; display: none;"></i>
                </nav>
                
            </center>
            
        </header>
    


    @RenderBody()
    </body>
</html>