<main>
    <p class="Titulo">ROLE TOP!</p>
    <p class="Subtitulo">Os melhores roles de SP!</p>
    <a asp-controller="Cadastro" asp-action="index">
        <button class="BotaoNormal">Faça seu role!</button>
    </a>
</main>