<center>
    <form method="POST" action='@Url.Action("Cadastrar", "Cadastro")' required>
            <input class="InputText" type="text" name="Usuario" placeholder="Usuario" required>
            <input class="InputText" type="text" name="Nome" placeholder="Nome Completo" required>
            <input class="InputText" type="email" name="Email" placeholder="email@exemplo.com" required>
            <input class="InputText" type="tel" name="Telefone" placeholder="Telefone" required>
            <input class="InputText" type="password" name="Senha" placeholder="Senha" required>
            <input class="InputText" type="password" name="RepetirSenha" placeholder="Repetir senha" required>
            <input class="InputText" type="date" id="Data_Nascimento" name="Data_Nascimento" placeholder="Data de nascimento" required>
            <input class="BotaoNormal" value="Enviar" type="submit">
    </form>
</center>
